<!-- BEGIN FOOTER -->
<div class="freecoding-footer">
	<section><a href="{{@blog.url}}/rss" title="Get the RSS feed"><i class="fa fa-rss"></i> RSS</a></section>
	<section>All content copyright <a href="{{@blog.url}}">{{@blog.title}}</a> © 2014 • All rights reserved.</section>
	<section>Proudly published with <a href="http://ghost.org/">Ghost</a> • Theme by <a href="mailto:suinly@suinly.com">Suinly</a></section>
</div>
<!-- END FOOTER -->