<!-- BEGIN MENU -->
<div class="freecoding-menu">
	<a href="#"></a>
	<ul class="freecoding-items">
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
	</ul>
</div>
<!-- END MENU -->