<!-- BEGIN POST INFO -->
<div class="freecoding-post-info">
	{{#post}}
		<div class="freecoding-author">
			<h3>{{author}}</h3>
		</div>
		<div class="freecoding-published_at">
			{{date published_at timeago="true"}}
		</div>
	{{/post}}
</div>
<!-- END POST INFO -->